{% extends "Layouts/index.html" %}

{% block content %}

<div class="nav">
    <ul class="nav nav-pills">
        <!--<li id="feedback" class="active"><a href="/feedback/index/">Обратная связь</a></li>-->
        <li><a class="btn btn-lg btn-default"
               href="#" data-toggle="modal"
               data-target="#basicModal">Обратная связь</a></li>
    </ul>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h4 class="modal-title" id="myModalLabel">Название модального окна</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Имя:</label>
                        <input type="text" class="form-control" id="name" placeholder="Введите ваше имя">
                    </div>
                    <div class="form-group">
                        <label for="mail">Почта:</label>
                        <input type="email" class="form-control" id="mail" placeholder="Введите вашу почту">
                    </div>
                    <div class="form-group">
                        <label for="phone">Телефон:</label>
                        <input type="tel" class="form-control" id="phone" placeholder="Введите телефон">
                    </div>
                    <div class="form-group">
                        <label for="send">Сообщение:</label>
                        <input type="text" class="form-control" id="send" placeholder="Введите сообщение">
                    </div>
                    <div class="form-group">
                        <label for="file">Добавить к сообщению файл:</label>
                        <input type="file" class="form-control" id="file" name="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                <button id="feedback" class="btn btn-primary" type="button">Отправить</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Новости</h1>
    {% if news %}
    {% for article in news %}

    <div class="panel panel-success">
        <div class="panel-heading">
            <a href="/news/one/?id={{ article.id_news }}">
                <h4>{{ article.title }}</h4></a>
        </div>
        <div class="panel-body">{{ article.description }};
            <p><a href="/news/one/?id={{ article.id_news|e }}">Подробно >>></a></p>
        </div>
        <div class="panel-footer" style="font-size: small">
            {% if news %}
            <p><b>Автор
                : </b><i> {{ article.author.firstname }} {{ article.author.lastname }}</i>
            </p>
            {% endif %}
            <p><b>Опубликовано: {{ article.published|date('d-m-Y H:i') }}</b></p>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <h2>Новостей пока нет. Добавьте свою новость</h2>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
    $(function () {
        $(document).on('click', '#feedback', function (e) {
            e.preventDefault();
            var name = document.getElementById("name");
            var mail = document.getElementById("mail");
            var phone = document.getElementById("phone");
            var send = document.getElementById("send");
            var input = document.getElementById("file");
            var fReader = new FileReader();
            fReader.readAsDataURL(input.files[0]);
            fReader.onloadend = function (event) {
                var ff = event.target.result;
                $.post('/Feedback/send/',
                        {
                            name: name.value,
                            mail: mail.value,
                            phone: phone.value,
                            send: send.value,
                            file: ff,
                        },
                        (function (data) {
                        }))
                        .success(function () {
                            alert('Сообщение успешно отправлено');
                            $('#basicModal').modal('hide');
                        })
                        .error(function () {
                            alert('Ошибка');
                        });
            }
        });
    });
</script>
{% endblock %}

{% block memory %}
{{ resource }}
{% endblock %}